# Node modules
node_modules/

# Compiled output
out/
dist/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# macOS
.DS_Store

# VSCode local settings
.vscode/

# Testing
coverage/

# Environment variables
.env

# Temporary files
*.tmp